* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1200px;
}

.main-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-header ul li {
  list-style: none;
}
.main-header .social {
  min-height: 31px;
  border: 1px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ACACAC;
}
.main-header .social .icons li {
  width: 20px;
  height: 20px;
}
.main-header .social .icons li:hover {
  color: green;
}
.main-header .social ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 31px;
  border-bottom: 1px solid #ACACAC;
}
.main-header .social ::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 123px;
  left: 0;
  width: 100%;
  height: 611px;
  background-color: black;
}
.main-nav {
  height: 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid blue;
  border-bottom: 1px solid #ACACAC;
}
.main-nav .navbar {
  min-width: 600px;
  height: 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0;
}
.main-nav .navbar li {
  list-style: none;
}
.main-nav .navbar li a {
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 10%;
  padding: 10px;
}
.main-nav .navbar li a::before {
  display: inline;
  position: relative;
  content: "";
  width: 100%;
  height: 1px;
  background-color: orange;
}
.main-promo {
  height: 611px;
  margin-bottom: 79px;
}
.main-promo h1 {
  color: white;
}

.skills-about {
  height: 300px;
  margin-bottom: 79px;
}
.skills-about-unit {
  width: 249px;
  border: 1px solid #ACACAC;
  height: 300px;
  position: relative;
}
.skills-about-unit-top {
  width: 85px;
  height: 85px;
  border: 1px solid #ACACAC;
  background: white;
  position: absolute;
  left: 85px;
  top: -43px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.skills-about-unit-top:hover {
  background-color: #FDCE16;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about {
  height: 420px;
  position: relative;
}
.about ::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FDCE16;
}
.about .col-md-6 {
  min-height: 400px;
  background-color: yellow;
}
.about .col-md-6:last-child {
  background-color: red;
}

.latest-projects {
  height: 708px;
  position: relative;
  margin-bottom: 90px;
}
.latest-projects .container {
  height: 100%;
  border: 2px solid green;
}
.latest-projects ::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ACACAC;
}

.our-process {
  height: 600px;
}
.our-process .container {
  height: 100%;
  border: 2px solid green;
}

.our-skills {
  height: 572px;
  position: relative;
  margin-bottom: 80px;
}
.our-skills .container {
  height: 100%;
  border: 2px solid green;
}
.our-skills ::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FDCE16;
}

.our-team {
  height: 609px;
  margin-bottom: 78px;
}
.our-team .container {
  border: 2px solid blue;
  height: 100%;
}

.from-the-blog {
  height: 636px;
  margin-bottom: 90px;
  position: relative;
  color: white;
}
.from-the-blog ::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.pricing {
  height: 912px;
  margin-bottom: 72px;
}
.pricing .col-md-4 {
  height: 600px;
  outline: 1px solid black;
}
.pricing .col-md-4:nth-of-type(2) {
  outline: 1px solid red;
}

.clients-say {
  height: 521px;
  position: relative;
  color: white;
  margin-bottom: 76px;
}
.clients-say ::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.news {
  height: 400px;
  margin-bottom: 78px;
}
.news-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.news .col-md-8 {
  outline: 2px solid green;
}
.news .col-md-4 {
  outline: 2px solid red;
}

.footer {
  height: 576px;
  position: relative;
  color: white;
}
.footer .container {
  overflow: hidden;
}
.footer ::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 85.6%;
  background-color: black;
}
.footer ::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 24.4%;
  background-color: #2E2E2E;
}
.footer-info {
  height: 219px;
  margin-top: 93px;
  margin-bottom: 32px;
}
.footer-info .col-md-3 {
  height: 210px;
  outline: 1px solid red;
}
.footer-links {
  height: 149px;
}
.footer-links .col-md-4 {
  outline: 1px solid green;
}
.footer-copy {
  height: 80px;
  color: black;
  padding: 29px 0;
}

/*# sourceMappingURL=style.css.map */